:root {
  --main-color: #525199;
  --main-spacer: 40px;
  --secondary-spacer: 20px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
  vertical-align: baseline;
  box-sizing: border-box;
}

html {
  color: #333;
}
