:root {
  --main-color: #525199;
  --main-spacer: 40px;
  --secondary-spacer: 20px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
  vertical-align: baseline;
  box-sizing: border-box;
}

html {
  color: #333;
}

header {
  height: 50vh;
  background-color: var(--main-color);
  color: white;
  position: relative;
  margin-bottom: var(--main-spacer);
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section {
  margin-bottom: var(--main-spacer);
}

section h2 {
  color: var(--main-color);
  text-align: center;
  font-weight: normal;
  margin-bottom: var(--secondary-spacer);
}

section > p {
  text-align: center;
}

article {
  display: flex;
  background-color: #f0f0f0;
}

article:nth-of-type(2n) {
  flex-direction: row-reverse;
}

article > picture {
  display: flex;
  flex: 0 1 55vw;
}

article > div {
  flex: 1 0 auto;
  padding: 10vw;
}

picture img {
  object-fit: cover;
  width: 100%;
}

article h3 {
  margin-bottom: var(--secondary-spacer);
  font-size: 24px;
}

footer {
  padding: var(--secondary-spacer);
  text-align: center;
  font-size: 14px;
  color: white;
  background-color: var(--main-color);
}
